<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Welcome</title>
<style>
.nav {
  background-color: gray; 
  list-style-type: none;
  text-align: center;
  color:white;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
  font-style:italic;
  table-layout:auto;
  font-size: 20px;
  padding: 20px;
}

a{
	color:black;
}
</style>

</head>
<body >
<ul class="nav">
<li>
<a href="/adduser">Add user</a></li>
<li>
<a href="/viewusers">View Users</a></li></ul>
</body>
</html>