<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" >
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<table>      
      <tr th:if="${leavetypes.empty}">
            <td colspan="2"> No Leave Types Available </td>
        </tr>
        <tr th:each="LeaveType : ${leavetypes}">        
        <td th:text="${LeaveType.name}">Name</td>
         <td><a th:href="@{/leavetypeedit{id}(id=${LeaveType.id})}">Edit</a></td>
         <td><a th:href="@{/leavetypedelete{id}(id=${LeaveType.id})}">Delete</a></td>
      </tr>
      <td><a th:href="@{/addleavetype}">Add Leave Type</a></td>
    </table>

</body>
</html>