<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Leave Application Form</title>
</head>
<body>
	<form th:attr="action=@{/leaveapplication/submit}" th:object= "${leaveApplication}" method="post">
		<fieldset>
			<input type="text" th:field="*{userId}"/>
			<input type="datetime-local" th:id="startDate" th:name="startDate"/>
			<input type="datetime-local" th:id="endDate" th:name="endDate"/>
			<select th:field="*{type}">
  				<option th:value="ANNL">Annual Leave</option>
  				<option th:value="MDCL">Medical Leave</option>
  				<option th:value="COMP">Compensation Leave</option>
			</select>
			<input type="hidden" value="PND" name="status" id="status"/>
			<input type="submit" value="Submit"/>
		</fieldset>
	</form>
</body>
</html>