<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Create an account</title>
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!--fonts-->
<link
	href='http://fonts.useso.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400'
	rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Metamorphous'
	rel='stylesheet' type='text/css'>
<!--//fonts-->
<script src="js/jquery.min.js">
	
</script>
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- js -->
<script src="js/bootstrap.js"></script>
<!-- js -->
<link rel="stylesheet" type="text/css" href="css/common.css" />
<link rel="stylesheet" type="text/css" href="css/style4.css" />
<script type="text/javascript" src="js/modernizr.custom.79639.js"></script>
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<!--/script-->
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event) {
			event.preventDefault();
			$('html,body').animate({
				scrollTop : $(this.hash).offset().top
			}, 900);
		});
	});
</script>
</head>
<body>
	<div class="header-nav">
		<div class="container">
			<div class="logo">
				<a href=""><img src="images/logo.png" /></a>
			</div>
			<div class="navigation">
				<nav class="navbar navbar-default">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed"
							data-toggle="collapse"
							data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">something I don't know</span> <span
								class="icon-bar"> </span> <span class="icon-bar"> </span> <span
								class="icon-bar"> </span>
						</button>
					</div>
					<div class="collapse navbar-collapse nav-wil"
						id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li><a href="/adminhome">Admin Home </a></li>
							<li><a href="/logout">Log Out</a></li>
						</ul>
						<div class="clearfix"></div>
					</div>
					<!-- /.navbar-collapse -->
				</nav>
			</div>
		</div>
	</div>
	<!-- script-for-menu -->
	<script>
		$("span.menu").click(function() {
			$(".top-nav ul").slideToggle("slow", function() {
			});
		});
	</script>
	<!-- script-for-menu -->
	<div class="banner-left">
		<!-- banner-text Slider starts Here -->
		<script src="js/responsiveslides.min.js"></script>
		<script>
			// You can also use "$(window).load(function() {"
			$(function() {
				// Slideshow 4
				$("#slider3").responsiveSlides({
					auto : true,
					pager : false,
					nav : true,
					speed : 500,
					namespace : "callbacks",
					before : function() {
						$('.events').append("<li>before event fired.</li>");
					},
					after : function() {
						$('.events').append("<li>after event fired.</li>");
					}
				});
			});
		</script>
		<!--//End-slider-script -->
		<div class="banner-title">
			<div id="top" class="callbacks_container">
				<ul class="rslides" id="slider3">
					<li>
						<div class="banner-slide banner5"></div>
					</li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>

	<!-- register -->
	<div class="blog">
		<div class="container">
			<div class="reply heading">
				<h3>Please input your info</h3>
				<div class="contact-form">

					<form th:object="${userForm}" th:action="@{/adduser}" method="post">
						<p>
							Username: <input type="text" th:field="*{username}">
						</p>
						<p th:if="${#fields.hasErrors('username')}"
							th:errors="*{username}"></p>

						<p>
							Password: <input type="text" th:field="*{password}">
						</p>
						<p th:if="${#fields.hasErrors('password')}"
							th:errors="*{password}"></p>
						<p>
							Confirm Password: <input type="text"
								th:field="*{passwordConfirm}">
						</p>
						<p th:if="${#fields.hasErrors('passwordConfirm')}"
							th:errors="*{passwordConfirm}"></p>

						<p>
							Name: <input type="text" th:field="*{employee.name}">
						</p>

						<p>Designation:
						<div id=select>
							<select th:field="*{employee.designation}">
								<option th:value="Staff">Staff</option>
								<option th:value="Manager">Manager</option>
								<option th:value="Admin">Admin</option>
							</select>
						</div>

						</p>
						<p>Admin Authority:
						<div id="select">
							<select th:field="*{role}">
								<option th:value="ROLE_STAFF">STAFF</option>
								<option th:value="ROLE_MANAGER">MANAGER</option>
								<option th:value="ROLE_ADMIN">ADMIN</option>
							</select>
						</div>
						</p>

						<p>Leave Entitled:
						<div id="number">
							<input type="number" th:field="*{employee.leaveEntitled}">
						</div>
						</p>
						<p>Current Compensation Leave:
						<div id="number">
							<input type="number" th:field="*{employee.compensationhours}">
						</div>
						</p>

						<p>
							Contact Number: <input type="text" th:field="*{employee.contact}">
						</p>

						<p>
							Email: <input type="text" th:field="*{employee.email}">
						</p>

						<p>Reports To:
						<div id="select">
							<select th:field="*{employee.reportsTo}">
								<option th:value="0">Choose option</option>
								<option th:each="user : ${managers}" th:value="${user.id}"
									th:text="${user.name}"></option>
							</select>
						</div>
						</p>

						<p>
							<input type="hidden" value="0" name="employee.compensationhours"
								id="compensationhours" />
						</p>
						<p>
							<input type="submit" value="Save" />
						</p>
					</form>
				</div>
			</div>
		</div>
	</div>
<!--footer-starts-->
	<div class="footer">
		<div class="container">
			<!-- <div class="footer-main">
				<div class="col-md-3 footet-left">
					<h3>something</h3>
					<ul>
						<li><a href="myShoppingcar.action">shopping cart</a></li>
						<li><a href="myOrders.action">my orders</a></li>
						<li><a href="myInformation.jsp">different things</a></li>
					</ul>
				</div>
				<div class="col-md-3 footet-left">
					<h3>Search</h3>
					<div class="sub-text">
						<form action="searchBook.action" method="post">
							<input type="text" value="Search..." onFocus="this.value = '';"
								onBlur="if (this.value == '') {this.value = 'Search...';}"
								name="search" /> <input type="submit" value="">
						</form>
					</div> -->
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="copy-rights">
				<p>Copyright &copy; 2019 white star</p>
			</div>
		</div>
		<!---->
		<script type="text/javascript">
			$(document).ready(function() {
				/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
				 */
				$().UItoTop({
					easingType : 'easeOutQuart'
				});
			});
		</script>
		<a href="#to-top" id="toTop" style="display: block;"> <span
			id="toTopHover" style="opacity: 1;"> </span></a>
		<!---->
	</div>
</body>
</html>

